---
export interface IProjectPreviewProps {
  videoSrc: string;
  projectDescription: string;
  projectTitle: string;
  projectLink: string;
  projectClass: string;
  lastClass: string;
}
const {
  videoSrc,
  projectTitle,
  projectDescription,
  projectLink,
  projectClass,
  lastClass,
} = Astro.props;
---

<div class={`projects project-preview `}>
  <div
    class={`projects project-preview-text-container ${lastClass} ${projectClass}`}
  >
    <h3 class="projects project-preview-header">
      {projectTitle}
    </h3>
    <p>{projectDescription}</p>
    <button class={`projects view-button ${projectClass}`}>
      <a href={projectLink}> View</a>
    </button>
  </div>
  <div class={`projects project-preview-video-container ${projectClass}`}>
    <video class="project-video" src={videoSrc} autoplay muted loop>
      <source src={videoSrc} type="video/mp4" />
    </video>
  </div>
</div>

<style>
  .project-preview {
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50px + 35vw), 1fr));
    grid-template-rows: none;
    padding: 1em;
  }

  .project-preview-text-container > h3 {
    margin-bottom: 1em;
    text-align: center;
    text-transform: none;
  }

  .project-preview-text-container > p {
    margin: 0;
    font-family: JostMedium;
    color: var(--color-text);
  }

  .project-preview-video-container > video {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    margin-top: 0.5em;
  }

  .view-button {
    background: none;
    border: none;
    width: fit-content;
    justify-self: end;
    padding: 0;
    line-height: 1;
    transform: scale(1);
  }

  .view-button > a {
    font-family: JostMedium;
    font-size: var(--font-size-lg);
    color: var(--color-text);
    text-decoration: none;
    line-height: 1;
  }

  .view-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
  }

  .view-button.alternate {
    justify-self: start;
    /* padding-left: 1em; */
  }

  @media (max-width: 900px) {
    .view-button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1em;
    }
  }

  @media (min-width: 902px) {
    .project-preview {
      position: relative;
      width: 95%;
      margin-right: 0;
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(6, 1fr);
      padding: 1em;
    }

    .project-preview-text-container > div {
      background-color: var(--bg-color-sub);
      max-width: 100%;
      min-height: 100%;
    }

    .project-preview-text-container > h3,
    p {
      z-index: 1;
    }

    .project-preview-text-container > p {
      padding: 0.5em;
      font-weight: 100;
      font-family: JostMedium;
      color: var(--color-text);
      padding-top: 3.5em;
      text-transform: none;
    }

    .project-preview-header {
      position: absolute;
    }

    .project-preview-text-container > h3 {
      position: absolute;
      width: 95%;
      text-align: end;
      margin-bottom: 1.2em;
      z-index: 2;
      font-family: var(--font-header);
      letter-spacing: 0.1em;
      line-height: 1.08;
      background-color: var(--color-text);
      color: var(--bg-color-sub);
      padding: 0.3em;
    }

    /* Normal Positioning */
    .project-preview-text-container {
      color: var(--color-text);
      font-size: var(--font-size-base);
      padding: 1em;
      grid-area: 2/1/4/6;
      z-index: 1;
      position: relative;
      display: grid;
      background-color: var(--bg-color-sub);
    }

    .project-preview-video-container {
      grid-area: 1/6/5/13;
    }

    @media (min-width: 1000px) {
      .project-preview-text-container {
        /* transform: translate3d(0px, 40%, 0px); */
      }
    }

    /* Alternate Positioning */
    .project-preview-text-container.alternate {
      grid-area: 2/13/4/8;
    }

    .project-preview-text-container.alternate > h3 {
      text-align: start;
      /* width: 90%; */
      margin-left: 2.5%;
    }

    .project-preview-video-container.alternate {
      grid-area: 1/1/5/8;
    }

    .project-preview-video-container > video {
      display: block;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 1400px) and (max-width: 1700px) {
    .project-preview {
      grid-template-rows: repeat(6, 1fr);
    }
  }

  @media (min-width: 1000px) and (max-width: 1399px) {
    .project-preview {
      grid-template-rows: repeat(5, 1fr);
    }

    .project-preview-text-container.alternate {
      grid-area: 2/13/4/6;
    }
  }

  @media (min-width: 902px) and (max-width: 999px) {
    .project-preview {
      grid-template-rows: repeat(4, 1fr);
    }

    .project-preview-text-container.alternate {
      grid-area: 2/13/4/6;
    }
  }
</style>
