---
import QuoteAndMedia from "../QuoteAndMedia.astro";
import PersonalDisplay from "../PersonalDisplay.astro";
import clipOne from "../../../public/powerlift.mp4";
export interface IIntroductionProps {
  firstName: string;
  lastName: string;
  roleMain: string;
  roleSub: string;
}
const { firstName, lastName, roleMain, roleSub } = Astro.props;
const quoteOne = `"If your reason to do is greater than how it will be done, only then will you truly be limitless"`;
---

<section class="section-container section-name">
  <div class="container-name">
    <span class="name one">{firstName}</span>
    <span class="name two">{lastName}</span>
    <span class="role one">{roleMain}</span>
    <span class="role two">{roleSub}</span>
    <span class="fake-border"></span>
  </div>
  <QuoteAndMedia quote={quoteOne} />
  <PersonalDisplay noun="powerlifter" description="Just some descriptive text" videoSrc={clipOne} />
</section>

<style>
  section {
    display: grid;
    justify-items: center;
    max-width: 100%;
    position: relative;
  }

  .container-name {
    display: grid;
    justify-items: start;
    justify-self: start;
    text-align: center;
    padding: 1rem;
    transform-style: preserve-3d;
    transform: rotateX(50deg);
    animation: separateName 2.5s 1 ease-in-out 0.35s alternate both;
    /* margin-left: 1em; */
  }

  @keyframes separateName {
    0% {
      transform: rotateX(90deg);
    }

    100% {
      transform: rotateX(50deg);
    }
  }

  @keyframes glitchName {
    0% {
      font-style: italic;
      font-family: JostMedium;
      line-height: 1;
    }

    15% {
      text-decoration: line-through;
      text-transform: lowercase;
    }

    30% {
      text-decoration: wavy;
      color: var(--bg-color-lighter-sub);
    }

    65% {
      text-decoration: underline;
      text-transform: capitalize;
    }

    80% {
      text-decoration-style: solid;
      font-style: italic;
      text-transform: uppercase;
    }

    100% {
      font-family: JostMedium;
      text-transform: uppercase;
      line-height: 1;

    }
  }

  @keyframes secondGlitchName {
    0% {
      text-transform: lowercase;
      line-height: 1.1;
    }

    15% {
      text-transform: lowercase;
    }

    30% {
      text-decoration: underline;
      text-transform: capitalize;
    }

    65% {
      text-decoration: wavy;
      color: var(bg-color-sub);
      font-style: italic;
      text-decoration: line-through;
    }

    80% {
      text-decoration-style: solid;
      font-style: italic;
      text-transform: uppercase;
    }

    100% {
      line-height: 1.08;
      text-transform: uppercase;
      color: var(--bg-color-lighter-sub);
    }
  }


  .container-name>span {
    text-align: center;
    font-size: var(--font-size-xl);
    line-height: 1.2;
    transform: rotateX(310deg) rotateY(0deg) skewY(0.325deg);
    color: var(--color-text);
  }


  .name.one {
    /* padding-right: 5em; */
  }

  .name.two {
    padding-left: 0.4em;
  }

  .name {
    animation: glitchName 0.9s 3 ease-in-out 2.85s alternate both;
  }

  .role.one {
    padding-left: 0.6em;
  }

  .role.two {
    padding-left: 1em;
    line-height: 1;
  }

  .role {
    animation: secondGlitchName 0.9s 3 ease-in-out 2.85s alternate both;
  }
</style>