---
import { projectInformation } from "../../utils";
import ProjectPreview from "../Projects/ProjectPreview.astro";
import clockedOutVideo from "/clocked_out.mp4";
import meemoBoutiqueVideo from "/meemo.mp4";
import myWeatherVideo from "/my_weather.mp4";
import groomifyVideo from "/groomify.mp4";

export interface IProjectsProps {
  filler: string;
}
const projectVideos = [groomifyVideo, clockedOutVideo, myWeatherVideo];
---

<section id="projects-section" class="section-container section-projects">
  <div class="projects projects-container">
    <h2 class="projects projects-header">Projects.</h2>
    <div class="projects my-projects-container">
      {
        projectInformation.map((info, index) => {
          return (
            <ProjectPreview
              videoSrc={projectVideos[index]}
              projectLink={info.projectLink}
              projectDescription={info.description}
              projectTitle={info.title}
              projectClass={info.alternate}
              lastClass={info.lastClass}
            />
          );
        })
      }
    </div>
  </div>
</section>

<style>
  #projects-section {
    scroll-behavior: smooth;
  }

  .projects-header {
    font-size: calc(var(--font-size-xl) - 1em);
  }
</style>
