---
import { projectInformation } from "../../utils";
import ProjectPreview from "../Projects/ProjectPreview.astro";
import exampleVideo from "../../../public/powerlifter.mp4";

export interface IProjectsProps {
  filler: string;
}
const [clockedOut] = projectInformation;
---

<section class="section-container section-projects">
  <div class="projects projects-container">
    <h2 class="projects projects-header">
      Projects.
    </h2>
    <div class="projects my-projects-container">
      <ProjectPreview videoSrc={exampleVideo} projectDescription={clockedOut.description}
        projectTitle={clockedOut.title} />
      <ProjectPreview videoSrc={exampleVideo} projectDescription={clockedOut.description}
        projectTitle={clockedOut.title} projectClass="alternate" />
      <ProjectPreview videoSrc={exampleVideo} projectDescription={clockedOut.description}
        projectTitle={clockedOut.title} lastClass="last-project" />
    </div>
  </div>
</section>
<script is:inline>
  const projectContainer = document.querySelector('.projects-container');
  const [firstProjectText, secondProjectText, thirdProjectText] = document.querySelectorAll('.project-preview-text-container');
  const screen = window.matchMedia("(min-width: 1250px)");
  let oldScroll = window.scrollY;
  let direction;
  let firstTransform = 40;
  let secondTransform = 40;
  let thirdTransform = 40;
  const originalTransform = 40;
  const lowestTransform = -20;



  window.addEventListener('scroll', function () {
    const windowScroll = this.scrollY;
    const projectTop = projectContainer.offsetTop;
    const projectBottom = projectContainer.offsetTop + projectContainer.offsetHeight;

    // projectContainer top to bottom divided into a third.
    const projectThird = (projectBottom - projectTop) / 3;

    // Consists of the area occupied by each of the three projects:
    const firstProjectArea = projectTop + projectThird;
    const secondProjectArea = projectTop + (projectThird * 2);
    const thirdProjectArea = projectTop + (projectThird * 3);


    // Logic for determining the scroll's direction.
    if (windowScroll > oldScroll) {
      direction = "down";
    } else {
      direction = "up";
    }
    oldScroll = windowScroll <= 0 ? 0 : windowScroll;

    if (windowScroll > projectTop && windowScroll < projectBottom && screen.matches) {

      if (windowScroll > firstProjectArea && windowScroll * 1.3 > thirdProjectArea) {
        thirdProjectText.style.transform = `translate3d(0px, ${thirdTransform}%, 0px)`;
        if (direction === "down" && thirdTransform <= originalTransform) {
          if (thirdTransform === lowestTransform + 25) {
            return;
          }
          thirdTransform -= 1;
        }
        if (direction === "up" && thirdTransform >= -originalTransform) {
          if (thirdTransform === originalTransform) {
            return;
          }
          thirdTransform += 1;
        }
      }

      if (windowScroll < firstProjectArea) {
        firstProjectText.style.transform = `translate3d(0px, ${firstTransform}%, 0px)`;
        if (direction === "down" && firstTransform <= originalTransform) {
          if (firstTransform === lowestTransform + 30) {
            return;
          }
          firstTransform -= 1;
        }
        if (direction === "up" && firstTransform >= -originalTransform) {
          if (firstTransform === originalTransform) {
            return;
          }
          firstTransform += 1;
        }
        // return;
      }
      if (windowScroll < secondProjectArea * 1.1) {

        secondProjectText.style.transform = `translate3d(0px, ${secondTransform}%, 0px)`;
        if (direction === "down" && secondTransform <= originalTransform) {
          if (secondTransform === lowestTransform) {
            return;
          }
          secondTransform -= 1;
        }
        if (direction === "up" && secondTransform >= -originalTransform) {
          if (secondTransform === originalTransform) {
            return;
          }
          secondTransform += 1;
        }
        // return;
      }
    }


  });
</script>
<style>
  .projects-header {
    font-size: calc(var(--font-size-xl) - 1em);
  }
</style>