---
import { projectInformation } from "../../utils";
import ProjectPreview from "../Projects/ProjectPreview.astro";
import exampleVideo from "../../../public/powerlifter.mp4";

export interface IProjectsProps {
  filler: string;
}
const [clockedOut] = projectInformation;
---

<section class="section-container section-projects">
  <div class="projects projects-container">
    <h2 class="projects projects-header">
      Projects.
    </h2>
    <div class="projects my-projects-container">
      <ProjectPreview videoSrc={exampleVideo} projectDescription={clockedOut.description}
        projectTitle={clockedOut.title} />
      <ProjectPreview videoSrc={exampleVideo} projectDescription={clockedOut.description}
        projectTitle={clockedOut.title} projectClass="alternate" />
      <ProjectPreview videoSrc={exampleVideo} projectDescription={clockedOut.description}
        projectTitle={clockedOut.title} />
    </div>
  </div>
</section>

<style>
  .projects-header {
    font-size: calc(var(--font-size-xl) - 1em);
  }
</style>