---
export interface INavbarProps {
  logoLink: string;
  aboutLink: string;
  projectsLink: string;
  logoName: string;
  aboutName: string;
  projectsName: string;

  socialOne: string;
  socialTwo: string;
  socialThree: string;

  socialOneLink: string;
  socialTwoLink: string;
  socialThreeLink: string;

  internalClass: string;
}
const {
  logoLink, aboutLink, projectsLink,
  logoName, aboutName, projectsName,
  socialOne, socialTwo, socialThree,
  socialOneLink, socialTwoLink, socialThreeLink,
  internalClass
} = Astro.props;
---

<nav id="navbar">

  <div class="links-container">

    <div class="nav internal-links">
      <a class={`nav internal ${internalClass} logo`}href={logoLink}>{logoName
        ? logoName : "logo"} </a>

      {aboutName ? <a target="_blank" rel="noopener noreferrer" class={`nav internal ${internalClass} about`}
        href={aboutLink}>{aboutName} </a> :

      <a class={`nav internal ${internalClass} about`} href={aboutLink}>{aboutName
        ? aboutName : "about"} </a>}

      {projectsName ? <a target="_blank" rel="noopener noreferrer" class={`nav internal ${internalClass} about`}
        href={projectsLink}>{projectsName} </a> :

      <a class={`nav internal ${internalClass} about`} href={projectsLink}>{projectsName ? projectsName : "projects"}
      </a>}

    </div>

    <div class="nav external-links">
      <a class="nav social social-one" target="_blank" rel="noopener noreferrer" href={socialOneLink}><img
          class="nav social-icon" src={socialOne}></a>
      <a class="nav social social-two" target="_blank" rel="noopener noreferrer" href={socialTwoLink}>
        <img class="nav social-icon" src={socialTwo}>
      </a>
      <a class="nav social social-three" target="_blank" rel="noopener noreferrer" href={socialThreeLink}>
        <img class="nav social-icon" src={socialThree}>
      </a>
    </div>

  </div>

</nav>


<style>
  nav {
    padding: 0.5em 2em;
    justify-self: center;
    position: sticky;
    top: 0;
    font-family: JostMedium, sans-serif;
    z-index: 2;
  }

  .internal {
    text-decoration: none;
    width: fit-content;
    scroll-behavior: smooth;
  }

  .internal:active {
    text-decoration: none;
    color: none;
  }


  @media (max-width: 450px) {
    #navbar {
      justify-content: space-around;
      padding: 0 0.6em;
    }

    .internal-links {
      justify-items: center;
    }

    .external-links {
      display: none;
      visibility: hidden;
      position: absolute;
    }
  }

  a.nav {
    font-size: var(--font-size-base);
  }

  .social-one {
    filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(317deg) brightness(102%) contrast(107%);
  }

  .social-two {
    filter: invert(28%) sepia(98%) saturate(1483%) hue-rotate(194deg) brightness(86%) contrast(95%);
  }

  .social-three {
    filter: invert(48%) sepia(90%) saturate(2245%) hue-rotate(179deg) brightness(99%) contrast(90%);
  }

  .links-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  div.nav {
    display: grid;
    grid-auto-flow: column;
  }

  div.nav:last-of-type {
    justify-content: center;
    text-align: center;
    gap: 1em;
    justify-self: end;
  }
</style>